@charset "UTF-8";
/* 브라우저의 기본 CSS를 지워야된다 - reset  */
* {
  margin: 0;
  padding: 0;
}
#page {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}
/* header 시작 */
#header {
  height: 48px;
  padding: 6px;
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

#header > div {
  display: flex;
  align-items: center;
}
#header > div > a,
#header > div > i {
  padding: 15px;
}

#header .link_button {
  background-color: #1a73e8;
  color: #fff;
  width: 96px;
  border-radius: 4px;
  margin: 0px 8px;
  text-decoration: none;
  text-align: center;
  padding: 9px 0px;
}

header div i {
  color: #000;
}

.link {
  text-decoration: none;
}
.black:hover {
  text-decoration: underline;
}
.black {
  color: #000;
}

#header .fa-th:hover {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 15px;
  padding: 8px;
}

#header .link_button:hover {
  opacity: 90%;
}
/* header 끝 */

/* logo 시작 */
#logo {
  height: 290px;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}
/* logo 끝 */

/* search 시작 */
#search {
  height: 140px;
  padding: 20px;
  text-align: center;
}

#search .top_search {
  display: flex;
  justify-content: center;
}

#search_input input {
  width: 530px;
  height: 44px;
  border-radius: 23px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 49px;
}

#search_input {
  width: 580px;
  position: relative;
}

#search .fa-search {
  position: absolute;
  left: 20px;
  top: 11px;
}

#search #input_right_icon {
  position: absolute;
  right: 20px;
  top: 11px;
}

#search i {
  padding: 5px;
  color: #a3a3a3;
}
#search #search_button {
  margin: 18px;
}

#search #search_button button {
  background-color: #f8f9fa;
  color: #707570;
  height: 36px;
  margin: 11px 4px;
  padding: 0px 16px;
  border: none;
  font-family: "noto sans kr", sans-serif;
  border-radius: 4px;
}

#search #search_button a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

#search #search_button button:hover {
  box-shadow: 1px 1px 4px;
  color: #a3a3a3;
}

#search_input input:hover {
  box-shadow: 1px 1px 4px;
  color: #a3a3a3;
}

/* search 끝 */

/* container */
#main {
  height: 340px;
}
/* container */

/* footer 시작 */
#footer {
  background-color: #f0f0f0;
  font-size: 0.9em;
  font-weight: 300;
}

#footer #footer_upper {
  border-bottom: 1px solid #dadce0;
  color: #70757a;
  display: flex;
  padding: 0px 20px;
}

#footer #footer_upper div {
  padding: 15px;
}

#footer #footer_lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0px 20px;
}

#footer #footer_lower a {
  text-decoration: none;
  color: #70757a;
  padding: 15px;
}

#footer #footer_lower a:hover {
  text-decoration: underline;
}

/* footer 끝 */
